.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
  font-family: sans-serif;
}

.chat-body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  max-height: calc(100vh - 150px);
}

.message-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.message {
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.1rem;
  max-width: 60%;
}

.from {
  background-color: #2095fe;
  color: #fff;
  margin-right: 20px;
  align-self: flex-end;
}

.to {
  background-color: #ffffff;
  color: #363636;
  margin-left: 20px;
  align-self: flex-start;
}

.typing-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.typing-indicator span {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 5px;
  background-color: #2095fe;
  border-radius: 50%;
  animation: typing 1s infinite;
}

@keyframes typing {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}

.chat-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  background-color: #f5f5f5;
  position: fixed;
  bottom: 0;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: left;
}

.input-box {
  width: 70%;
  max-width: 600px;
  color: #363636;
  font-size: 1.2rem;
  outline: none;
  padding: 8px 12px;
  background-color: #fff;
  border: 2px solid #2095fe;
  border-radius: 20px;
  margin-right: 10px;
}

.input-box:focus {
  border: 2px solid #363636;
}

button {
  font-size: 1.2rem;
  color: #fff;
  padding: 8px 16px;
  background-color: #2095fe;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}