<div class="container">
  <div class="title">Recommended Resources</div>
  <div class="resources-list">
    <ul>
      <li>
        <div class="resource-item">
          <h1>Reasons why saving money is important</h1>
          <p>
            Savings is crucial for everyone, regardless of their earnings,
            spending and life stage. Here are some reasons why you need to
            start saving. It offers peace of mind: Knowing that you have a
            certain amount accumulated for times of your need, gives you
            peace of mind. You can lead a stress-free life with the
            knowledge that you will not have to struggle if things take an
            unexpected route. It gives you a better future: Your savings can
            be the answer to a number of your goals. You can buy a house,
            accumulate funds for your retirement, or purchase a vehicle. You
            can secure your future, indulge in the best of things that life
            has to offer and live a very fulfiling life...<br /><br /><a target="_blank"
              href="https://www.iciciprulife.com/protection-saving-plans/importance-of-savings.html">Read More</a>
          </p>
        </div>
      </li>
      <li>
        <div class="resource-item">
          <h1>8 simple ways to save money</h1>
          <p>
            Sometimes the hardest thing about saving money is just getting
            started. This step-by-step guide can help you develop a simple
            and realistic strategy, so that you can save for all your short-
            and long-term goals....<br /><br /><a target="_blank"
              href="https://bettermoneyhabits.bankofamerica.com/en/saving-budgeting/ways-to-save-money">Read More</a>
          </p>
        </div>
      </li>
      <li>
        <div class="resource-item">
          <h1>Why Saving Money is Important</h1>
          <p>
            If you don't earn much and you can barely pay your bills, the
            idea of saving money might seem laughable. When you only have $5
            left at the end of the month, why even bother to try saving?
            Because everyone has to start somewhere, and if you work at it,
            your financial situation is likely to improve over time. Saving
            money is worth the effort. It gives you peace of mind, it gives
            you options, and the more you save, the easier it becomes to
            accumulate additional savings....<br /><br /><a target="_blank"
              href="https://www.investopedia.com/articles/personal-finance/031215/why-saving-money-important.asp">Read
              More</a>
          </p>
        </div>
      </li>
      <!-- last line -->
      <li>
        <div class="extra-space"></div>
      </li>
    </ul>
  </div>
</div>