<form [formGroup]="budgetForm" (ngSubmit)="onSubmit()">
  <p> Add A budget</p>  
  <div>
      <label for="month">Month: </label>
      <input type="text" id="month" formControlName="month">
    </div>
    <div>
      <label for="year">Year: </label>
      <input type="text" id="year" formControlName="year">
    </div>
    <div>
      <label for="balance">Balance: </label>
      <input type="text" id="balance" formControlName="balance">
    </div>
    <button type="submit">Submit</button>
 </form>