<div *ngIf="currentDisplay == 'main'">
    <mat-card>
        <mat-card-content>
            <div class="main-report">
                <div class="title">
                    <h2>Current Ongoing Budgets</h2>
                </div>
                <div *ngFor="let budget of budgets; let i = index" class="charts-row">
                    <button (click)="onSetBudget(i)">
                        Budget {{ i }}
                        <app-pie-chart [chartData]="getPieChartData(i)"></app-pie-chart>
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="main buttons">
        <h2>Choose Your Action</h2>
        <div class="action-buttons-row">
            <button (click)="onAddBudget()" class="action-button" mat-stroked-button extended>
                <mat-icon>beach_access</mat-icon>
                Add Budget
            </button>
        </div>

    </div>
</div>
<div  *ngIf="currentDisplay != 'main'">
    <button (click)="onSeeBudget()" class="back-button" mat-stroked-button extended>
        <mat-icon>arrow_back</mat-icon>
        Back
    </button>
    <div *ngIf="currentDisplay == 'addBudget'">
        <app-add-budget> </app-add-budget>
    </div>
    <div *ngIf="currentDisplay == 'budgetDetail'">
        <app-budget-detail [Budget]="this.budgets[currentBudget]" ></app-budget-detail>
    </div>

    <div *ngIf="currentDisplay == 'addIncome'">
        Add Income
    </div>

    <div *ngIf="currentDisplay == 'addExpense'">
        Add Expense
    </div>
</div>