.dashboard-container {
    display: flex;
    flex-direction: column;
    margin: 32px;
    background-color: rgb(10, 19, 25);

}

mat-toolbar {
  padding: 2rem 0;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

mat-sidenav-container {
    // height: calc(100vh - 64px);
    background-color: #B3B8BB;
    height: 100%;

}

mat-sidenav-content {
    padding: 0px;
}

mat-card {
    margin: 16px 0;
}

mat-form-field {
    width: 100%;
}

.sidenav {
  width: 20%;
  background-color: rgb(20,36,46);
  color: white;
  box-shadow: 0 4px 8px black;

}

.header-logo {
  text-align: center;
  font-size: 2rem;
  margin: 5rem 0;
  font-weight: 800;
}

.left span {
  font-size: 2rem;
}

.right {
  margin-right: 2rem;
}
.sidenav mat-divider{
  margin: 1rem;  
  background-color: white;
}

.sidenav .tabs-list a span{
  color: white;
  font-size: 1.3rem;
}

.main-bar{
  background-color: rgb(20,36,46);
  padding: 3rem;
  color: white;
  box-shadow: 4px 0 8px rgb(0, 0, 0);
  
}
@media screen and ( max-width:800px ) {
    .main-bar{
      padding: 0;
      flex-direction: column;
      gap: 10px;
      height: fit-content;
      padding: 12px;
      align-items: center;
    }
    .left span {
      font-size: 1.2rem;
    }
    
    .right {
      margin-right: 1rem;
    }
    .sidenav .header-logo{
      font-size: 1.2rem;
    }
    .sidenav {
      width: 30%;
    }
    .sidenav .tabs-list a span{
      font-size: 1rem;
    }
  }
