<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" mode="side">
        <div class="header-logo">
            PocketPal
        </div>
        <mat-nav-list class="tabs-list">
            <mat-divider></mat-divider>
            <a mat-list-item (click)="showDashboard()"><i
                    class="fa-solid fa-chart-line fa-xl"></i><span>Dashboard</span></a>
            <mat-divider></mat-divider>
            <a mat-list-item (click)="showReports()"><i class="fa-solid fa-flag fa-xl"></i><span>Budgets, Incomes and
                    Expenses</span></a>
            <mat-divider></mat-divider>
            <a mat-list-item (click)="showLinks()"><i class="fa-solid fa-bookmark fa-xl"></i> <span>Useful Financial
                    Literacy
                    Links</span></a>
            <mat-divider></mat-divider>
            <a mat-list-item (click)="showAi()"><i class="fa-solid fa-robot fa-xl"></i> <span>Personal Financial AI
                    Assistant</span></a>
            <mat-divider></mat-divider>
            <a mat-list-item (click)="showProfile()"><i class="fa-solid fa-user fa-xl"></i> <span>Profile
                    Settings</span></a>
            <mat-divider></mat-divider>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar class="main-bar">
            <div class="left">
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>{{ components[currentlyOnDisplay] }}</span>
            </div>
            <div class="right">
                <button style="margin: 0 10px;" mat-stroked-button>
                    <mat-icon>person</mat-icon>
                    Hello, {{ profileData.name }}.
                </button>
                <button mat-raised-button>
                    <mat-icon>exit_to_app</mat-icon>
                    Logout
                </button>
            </div>
        </mat-toolbar>

        <div *ngIf="currentlyOnDisplay == 0">
            <app-main-dashboard></app-main-dashboard>
        </div>
        <div *ngIf="currentlyOnDisplay == 1">
            <app-budget></app-budget>
        </div>
        <div *ngIf="currentlyOnDisplay == 4">
            <app-profile></app-profile>
        </div>
        <div class="ai-chat-container" *ngIf="currentlyOnDisplay == 3">
            <app-chat></app-chat>
        </div>
        <div *ngIf="currentlyOnDisplay == 2">
            <app-literacy-links></app-literacy-links>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>